/* app css stylesheet */

@import url(http://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed);

body{
  background-color: #222;
}

div[role="main"]{
  padding-top: 40px;
  background-color: #FFF;
}

.pad-top{
  padding-top: 20px;
}

.divider-inverse {
  background-color: #555 !important;
  border-right: 1px solid #666 !important;
}

.btn img {
  position:relative;
  top:-2px;
}

.brand{
  text-indent: 40px;
  font-family: 'Ubuntu', sans-serif;
  color: #FFFFFF !important;
  font-size: 20px !important;
}

.brand small {
  font-size: 10px;
}

.brand .title {
  position:relative;
  z-index: 100;
}

.brand .palette-icon{
  display:block;
  position:absolute;
  width:80px;
  height:52px;
  top:-15px;
  -moz-transform: scale(1) rotate(-30deg) translate(0px, 0px) skew(0deg, 0deg);
  -webkit-transform: scale(1) rotate(-30deg) translate(0px, 0px) skew(0deg, 0deg);
  -o-transform: scale(1) rotate(-30deg) translate(0px, 0px) skew(0deg, 0deg);
  -ms-transform: scale(1) rotate(-30deg) translate(0px, 0px) skew(0deg, 0deg);
  transform: scale(1) rotate(-30deg) translate(0px, 0px) skew(0deg, 0deg);
  background: transparent url(../img/color-palette-icon-80x64.png) no-repeat 0px 0px;
}

#sign-in{
  min-width: 250px;
  max-width: 250px;
  padding:25px;
}

#sign-in .login-btn-wrapper {
  width: 120px;
  text-align:center;
  display:inline-block;
}

#my-account {
  min-width: 300px;
  max-width: 300px;
}

#my-account .span1 img{
  margin-left: 5px;
}

#signUpModal form{
  padding:0;
  margin:0;
}

#signUpModal .modal-header h3{
  text-align:center;
  color: #444 !important;
  font-size:2.2em;
  font-family: 'Ubuntu Condensed', sans-serif;
}

#signUpModal .modal-footer .btn {
   padding:15px;
   width: 25%;
   font-size:18px;
}

#signUpModal .modal-footer, #signUpModal .modal-body {
  text-align:center;
}

#signUpModal .modal-body {
  padding-bottom: 0;
}

#signUpModal form input{
  width: 80%;
  font-size: 18px;
  padding: 11px 10px;
  margin: 0 auto;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  margin-bottom: 10px;
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

footer{
  background-color: #222;
  text-align:center;
  padding:10px 0;
}

footer .copy{
  color: #FFF;
  font-family: 'Ubuntu Condensed', sans-serif;
}