<div class="container pad-top">

  <div class="hero-unit">
    <h1>Be a design rockstar!</h1>
    <p>Create custom themed JavaScript UI libraries with three easy steps.</p>
    <p>
      <a class="btn btn-primary btn-large">
        Learn more
      </a>
    </p>
  </div>

  <div class="fluid-row">
     <div class="well span3">
        1. Choose a Library &amp; Features
     </div>
     <div class="well span4">
        2. Select or Create a Pallete
     </div>
     <div class="well span3">
        3. Refine and Download Your Theme!
     </div>
  </div>
 
</div>